@font-face {
  font-family: 'Atenea';
  src: url('../src/assets/fonts/BMWTypeNextProTT-Light.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Atenea', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}

